---
import { Image } from "astro:assets";
import img33 from "../../assets/images/33.jpg";
---

<article class="py-4 leading-loose" id="crusaders">
    <h1 class="text-3xl mb-4 font-bold">
        To All Religions Other than Christianity
    </h1>
    <section class="space-y-4">
        <p>
            The Christ Crusaders are always ready to drop in against the enemies
            of Christ. <br />
            Under our banner we wage a relentless assault for the glory of the Kingdom,
            <br />
            For we seek the Living Waters, and to be washed whiter than snow by Jesus
            Christ.
        </p>
        <Image src={img33} alt="Christ Crusaders" class="md:w-1/2" />

        <p>
            I’m an army of one so I needed to call in help. <br
                class="hidden md:block"
            />

            We are the Christ Crusaders of Love. <br class="hidden md:block" />

            We always lead the way, and you’ll meet many on this journey I will
            lead you through. <br class="hidden md:block" />

            We come from all peoples, tribes, genders, and backgrounds. <br
                class="hidden md:block"
            />

            Whenever you have a question about Jesus, consult the Christ
            Crusaders. We’re here to bring you to Jesus. <br
                class="hidden md:block"
            />

            We’re always here to help the Abused and Broken. <br
                class="hidden md:block"
            />
        </p>
    </section>
</article>
