---
import { Image } from "astro:assets";
---

<article class="py-4 leading-loose" id="freemasonry">
    <h1 class="text-3xl mb-4 font-bold">Freemasonry</h1>
    <section class="space-y-4">
        <!-- Content for Freemasonry section will go here -->
    </section>
</article>
