---
import { Image } from "astro:assets";
---

<article class="py-4 leading-loose" id="islam">
    <h1 class="text-3xl mb-4 font-bold">Islam</h1>
    <section class="space-y-4">
        <!-- Content for Islam section will go here -->
    </section>
</article>
