---
import { Image } from "astro:assets";
---

<article class="py-4 leading-loose" id="mormonism">
    <h1 class="text-3xl mb-4 font-bold">Mormonism</h1>
    <section class="space-y-4">
        <!-- Content for Mormonism section will go here -->
    </section>
</article>
