---
import { Image } from "astro:assets";
---

<article class="py-4 leading-loose" id="occult-paths">
    <h1 class="text-3xl mb-4 font-bold">Occult Paths</h1>
    <section class="space-y-4">
        <!-- Content for Occult Paths section will go here -->
    </section>
</article>
