---
import { Image } from "astro:assets";
import img79 from "../../assets/images/79.jpg";
import img80 from "../../assets/images/80.jpg";
import img81 from "../../assets/images/81.jpg";
import img82 from "../../assets/images/82.jpg";
import img82b from "../../assets/images/82.png";
import chapelleLaughing from "../../assets/gifs/Chapelle laughing.gif";
import yesSit from "../../assets/gifs/yes-sit.gif";
import adamSandlerLaughing from "../../assets/gifs/adam-sandler-laughing.gif";
import pokemonAsh from "../../assets/gifs/pokemon-ash.gif";
---

<article class="py-4 leading-loose" id="occult-paths">
    <h1 class="text-3xl mb-4 font-bold">On the Occult with Crusader Isaiah Saldivar and Dr. Gene Kim</h1>
    <section class="space-y-4">
        <p>Christian soccer moms are very scared of the occultists.</p>
    </section>
</article>
