---
import { Image } from "astro:assets";
---

<article class="py-4 leading-loose" id="occult-paths">
    <h1 class="text-3xl mb-4 font-bold">On the Occult with Crusader Isaiah Saldivar and Dr. Gene Kim</h1>
    <section class="space-y-4">
        <p>Christian soccer moms are very scared of the occultists.</p>
    </section>
</article>
