---
import { Image } from "astro:assets";
---

<article class="py-4 leading-loose" id="science">
    <h1 class="text-3xl mb-4 font-bold">Science</h1>
    <section class="space-y-4">
        <!-- Content for Science section will go here -->
    </section>
</article>
