---
import { Image } from "astro:assets";
---

<article class="py-4 leading-loose" id="warfare">
    <h1 class="text-3xl mb-4 font-bold">Spiritual Warfare</h1>
    <section class="space-y-4">
        <!-- Content for Spiritual Warfare section will go here -->
    </section>
</article>
