---
import { Image } from "astro:assets";
---

<article class="py-4 leading-loose" id="thelema">
    <h1 class="text-3xl mb-4 font-bold">Thelema</h1>
    <section class="space-y-4">
        <!-- Content for Thelema section will go here -->
    </section>
</article>
