---
import Layout from "../layouts/Layout.astro";
import Bookmarks from "../components/Bookmarks.astro";
import Verse from "../components/Verse.astro";
import Introduction from "../components/sections/Introduction.astro";
import Testimony from "../components/sections/Saints.astro";
import Crusaders from "../components/sections/Crusaders.astro";
import Islam from "../components/sections/Islam.astro";
import Hinduism from "../components/sections/Hinduism.astro";
import Hermeticism from "../components/sections/Hermeticism.astro";
import OccultPaths from "../components/sections/OccultPaths.astro";
import Thelema from "../components/sections/Thelema.astro";
import Buddhism from "../components/sections/Buddhism.astro";
import Jainism from "../components/sections/Jainism.astro";
import Witchcraft from "../components/sections/Witchcraft.astro";
import Freemasonry from "../components/sections/Freemasonry.astro";
import Mormonism from "../components/sections/Mormonism.astro";
import Theosophy from "../components/sections/Theosophy.astro";
import Adventism from "../components/sections/Adventism.astro";
import NewAge from "../components/sections/NewAge.astro";
import Kundalini from "../components/sections/Kundalini.astro";
import Talmud from "../components/sections/Talmud.astro";
import Science from "../components/sections/Science.astro";
import SpiritualWarfare from "../components/sections/SpiritualWarfare.astro";
import Dreams from "../components/sections/Dreams.astro";
import Memorial from "../components/sections/Memorial.astro";
---

<Layout title="Crusade of Love">
	<Verse
		verse="Now grow up through the grace and knowledge of our Lord and Savior, Jesus Christ."
		reference="2 Peter 3:18"
	/>
	<Bookmarks />
	<hr class="dark:border-gray-700 border-gray-300 mt-6" />
	<Introduction />
	<hr class="dark:border-gray-700 border-gray-300 my-2" />
	<Testimony />
	<hr class="dark:border-gray-700 border-gray-300 my-2" />
	<Crusaders />
	<hr class="dark:border-gray-700 border-gray-300 my-2" />
	<Islam />
	<hr class="dark:border-gray-700 border-gray-300 my-2" />
	<Hinduism />
	<hr class="dark:border-gray-700 border-gray-300 my-2" />
	<Hermeticism />
	<hr class="dark:border-gray-700 border-gray-300 my-2" />
	<OccultPaths />
	<hr class="dark:border-gray-700 border-gray-300 my-2" />
	<Thelema />
	<div class="hidden">
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Buddhism />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Jainism />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Witchcraft />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Freemasonry />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Mormonism />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Theosophy />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Adventism />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<NewAge />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Kundalini />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Talmud />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Science />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<SpiritualWarfare />
		<hr class="dark:border-gray-700 border-gray-300 my-2" />
		<Dreams />
	</div>
	<hr class="dark:border-gray-700 border-gray-300 my-2" />
	<Memorial />
</Layout>
