---
import Layout from "../layouts/Layout.astro";
import BookmarksComponent from "../components/BookmarksComponent.astro";
---

<Layout title="Home">
	<p>
		<em>Now grow up through the grace and knowledge of our Lord and Savior, Jesus Christ.</em>
		<br>
		<span class="font-semibold text-red-700">2 Peter 3:18</span>
	</p>
	<BookmarksComponent />
</Layout>
