---
import Layout from "../layouts/Layout.astro";
import BookmarksComponent from "../components/BookmarksComponent.astro";
import Introduction from "../components/sections/Introduction.astro";
import Testimony from "../components/sections/Testimony.astro";
---

<Layout title="Home">
	<p class="text-center">
		<em>Now grow up through the grace and knowledge of our Lord and Savior, Jesus Christ.</em>
		<br>
		<span class="font-semibold text-red-700">2 Peter 3:18</span>
	</p>
	<BookmarksComponent />
	<Introduction />
	<Testimony />
</Layout>
