---
import Layout from "../layouts/Layout.astro";
import Bookmarks from "../components/Bookmarks.astro";
import Introduction from "../components/sections/Introduction.astro";
import Testimony from "../components/sections/Saints.astro";
import Crusaders from "../components/sections/Crusaders.astro";
import Islam from "../components/sections/Islam.astro";
import Hinduism from "../components/sections/Hinduism.astro";
import Hermeticism from "../components/sections/Hermeticism.astro";
import OccultPaths from "../components/sections/OccultPaths.astro";
import Thelema from "../components/sections/Thelema.astro";
import Buddhism from "../components/sections/Buddhism.astro";
import Jainism from "../components/sections/Jainism.astro";
import Witchcraft from "../components/sections/Witchcraft.astro";
import Freemasonry from "../components/sections/Freemasonry.astro";
import Mormonism from "../components/sections/Mormonism.astro";
import Theosophy from "../components/sections/Theosophy.astro";
import Adventism from "../components/sections/Adventism.astro";
import NewAge from "../components/sections/NewAge.astro";
import Kundalini from "../components/sections/Kundalini.astro";
import Talmud from "../components/sections/Talmud.astro";
import Science from "../components/sections/Science.astro";
import SpiritualWarfare from "../components/sections/SpiritualWarfare.astro";
import Dreams from "../components/sections/Dreams.astro";
import Memorial from "../components/sections/Memorial.astro";
---

<Layout title="Crusade of Love">
	<p class="text-center">
		<em
			>Now grow up through the grace and knowledge of our Lord and Savior,
			Jesus Christ.</em
		>
		<br />
		<span class="font-semibold text-red-700">2 Peter 3:18</span>
	</p>
	<Bookmarks />
	<Introduction />
	<Testimony />
	<Crusaders />
	<Islam />
	<Hinduism />
	<Hermeticism />
	<OccultPaths />
	<Thelema />
	<Buddhism />
	<Jainism />
	<Witchcraft />
	<Freemasonry />
	<Mormonism />
	<Theosophy />
	<Adventism />
	<NewAge />
	<Kundalini />
	<Talmud />
	<Science />
	<SpiritualWarfare />
	<Dreams />
	<Memorial />
</Layout>
