---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---
<header x-data="{ openMenu: false }" class="px-4 py-2">
    <!-- Mobile menu -->
    <nav class="lg:hidden flex justify-between items-center">
        <div class="flex-1"></div>
        <div class="flex-1">
            <a href="/" class="flex justify-center items-end text-3xl">
                ✝️
                <Image src={logo} alt="Logo" loading="eager" />
                ☦️
            </a>
        </div>

        <div class="flex items-center justify-end flex-1">
            <button
                @click="openMenu = !openMenu"
                class="focus:outline-none lg:hidden"
            >
                <svg
                    class="h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        x-show="!openMenu"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>

        <div
            x-show="openMenu"
            class="fixed inset-0 z-50 bg-black bg-opacity-50 lg:hidden"
        >
            <div
                class="flex h-full items-center justify-center container mx-auto"
            >
                <!-- Clickable button inside the mobile menu -->
                <button
                    @click="openMenu = !openMenu"
                    class="absolute top-6 right-4 text-white focus:outline-none"
                >
                    <!-- X icon -->
                    <svg
                        x-show="openMenu"
                        class="h-6 w-6"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                <div
                    class="flex flex-col text-center text-white space-y-12 mb-20"
                >
                    <a
                        href="/prayers"
                        class="block font-semibold text-secondary uppercase"
                        >Akathist prayers</a
                    >
                    <a
                        href="/contact"
                        class="block font-semibold text-secondary uppercase"
                        >Contact</a
                    >
                    <a
                        href="/"
                        class="block font-semibold text-secondary uppercase"
                        >All for Jesus</a
                    >
                    <a
                        href="/memorial"
                        class="block font-semibold text-secondary uppercase"
                        >Memorial</a
                    >
                </div>
            </div>
        </div>
    </nav>

    <!-- Desktop menu -->
    <nav class="hidden container mx-auto lg:flex items-end justify-center mb-4">
        <div class="flex-1 space-x-4 flex justify-end">
            <a href="/prayers" class="font-semibold text-secondary uppercase"
                >Akathist prayers</a
            >
            <a href="/contact" class="font-semibold text-secondary uppercase"
                >Contact</a
            >
        </div>
        <div class="flex-none mx-4">
            <a href="/" class="flex justify-center items-end text-3xl">
                ✝️
                <Image src={logo} alt="Logo" loading="eager" />
                ☦️
            </a>
        </div>
        <div class="flex-1 space-x-4 flex justify-start">
            <a href="/" class="font-semibold text-secondary uppercase"
                >All for Jesus</a
            >
            <a href="/memorial" class="font-semibold text-secondary uppercase"
                >Memorial</a
            >
        </div>
    </nav>
</header>
