---
const { header, subheading } = Astro.props;
---

<div>
    <h1 class="block font-semibold text-lg mb-2">
        {header}
    </h1>

    {
        subheading && (
            <h2 class="text-base font-medium mb-2" set:html={subheading} />
        )
    }

    <div
        class="bg-amber-50 dark:bg-neutral-800 dark:border-neutral-700 text-amber-900 dark:text-neutral-300 rounded px-4 py-2 shadow-md dark:shadow-lg flex flex-col space-y-4"
    >
        <slot />
    </div>
</div>
