---
const { href } = Astro.props;
const { newTab } = Astro.props;
---

<a
    href={href}
    target={newTab ? "_blank" : "_self"}
    class="decoration-sky-500 hover:text-sky-500 underline decoration-2 dark:decoration-1 underline-offset-2 "
>
    <slot />
</a>
