---
const { href } = Astro.props;
const { newTab } = Astro.props;
---

<a
    href={href}
    target={newTab ? "_blank" : "_self"}
    class="underline decoration-1 underline-offset-2  hover:text-blue-600 dark:hover:text-blue-300 transition-colors duration-300"
>
    <slot />
</a>
