---
const { verses, heading, chapter, text } = Astro.props;

function toSuperscript(text) {
    return text.replace(/(\d+)/g, "<sup>$1</sup>").replace(/\[.\]/g, "");
}
---

<blockquote
    class="bg-white dark:bg-neutral-800 p-4 my-4 border-l-4 border-gray-500 rounded shadow-md"
>
    <p class="text-center text-sm text-gray-600 dark:text-gray-300 mb-2">{verses}</p>
    <h3 class="font-bold text-lg mb-2 text-center dark:text-zinc-200">{heading}</h3>
    <p class="italic">
        <span class="font-bold dark:text-zinc-200">{chapter}</span>
        <span set:html={toSuperscript(text)} class="text-gray-800 dark:text-gray-300" />
    </p>
</blockquote>
