---
const { verse, reference } = Astro.props;
---

<div class="my-4">
    <div
        class="bg-white dark:bg-neutral-800 text-neutral-900 dark:text-neutral-300 border-2 border-gray-300 dark:border-neutral-700 rounded-md p-4 shadow-md flex flex-col space-y-2"
    >
        <p class="italic text-lg text-center mt-2">{verse}</p>
        <p class="text-center font-semibold text-red-700 dark:text-red-400">
            {reference}
        </p>
    </div>
</div>
