---
const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" href="/all-for-jesus/public/favicon.ico" sizes="any" />
        <link
            rel="icon"
            href="/all-for-jesus/public/favicon.png"
            type="image/svg+xml"
        />
        <link
            rel="apple-touch-icon"
            href="/all-for-jesus/public/apple-touch-icon.png/"
        />
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
    </head>
    <body
        class="flex flex-col min-h-screen bg-gray-50 dark:bg-neutral-900 font-serif text-gray-800 dark:text-gray-200"
        x-data="{ showTopButton: false }"
        @scroll.window="showTopButton = (window.pageYOffset > 100)"
    >
        <Header />
        <main class="lg:container lg:mx-auto px-2 pt-4 xl:px-44">
            <slot />
        </main>
        <Footer />
        <ScrollToTop />
    </body>
</html>
