---
const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-gray-100 font-serif text-black">
        <Header />
        <main class="container mx-auto py-2 px-4">
            <slot />
            <footer>
                <div>
                    <p>© 2024 Crusade of Love</p>
                </div>
            </footer>
        </main>
    </body>
</html>
